/* размер формы зависит от шрифта или можем увеличить инпут, но содержимое самого инпута будет тоже маленьким */
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,900i');
body {
  font-family: 'Roboto', sans-serif;
}
form {
  margin-top: 45vh;
  /* трансформ для тюнинга отступа */

  transform: translateY(-50%);
  text-align: center;
}
/* 1em - размер шрифта нашего инпута, отступ будет уменьшаться/увеличиваться пропорционально размеру шрифта */

/* outline - синяя рамка вокруг инпута когда он выбран */

/* добавили анимацию для плавности изменения бордер боттом */
input {
  padding-bottom: 0.25em;

  transition: border-bottom 300ms ease;
  text-align: center;
  /* убрали стандартную рамку и сделали свою */

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  font-size: 8vw;
  font-weight: bold;
  /* цвет каретки - палочка ввода текста */

  caret-color: rgb(255, 0, 0);
}

input::placeholder {
  color: #000;

  font-style: italic;
}

input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.45);
  outline: none;
}
input:disabled {
  color: rgba(255, 0, 0, 0.35);
}
ul {
  display: flex;
  flex-direction: column-reverse;

  list-style: none;

  text-align: center;
  text-decoration: line-through;

  opacity: 0.25;

  font-size: 4vw;
  line-height: 2;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;

  width: 0;
  height: 100vh;

  transition-timing-function: ease;
  transition-property: width;

  background-color: rgba(0, 0, 0, 0.25);
}
